<div class="group">
    <label 
        for="scale"
        >Project Scale</label>

    <select 
        name="scale"
        id="scale"
        >
        <option selected value="">N/A</option>
        <option value="simple 1-10 pages">simple 1-10 Pages</option>
        <option value="simple 10+ pages">simple 10+ pages</option>
        <option value="complex with users">complex with users</option>
        <option value="complex with advanced logic">complex with advanced logic</option>
    </select>

</div>