

<div class="service">
    <h2 class="title">
        {{ service.title }}
    </h2>

    <div class="price">

        <h1>
            <span class="tag">$</span>
            {{service.price | price}}
        </h1>
    </div>
    <span class="per">{{service.per}}</span>

    <!-- {% if page.slug != service.slug %} -->
    <div class="description">
        {{ service.description | markdownify }}
    </div>


        <!-- <div class="action">
            <a 
                class="link" 
                href="/services/{{ service.slug }}/" 
                >{{ service.action }}</a>

        </div> -->
    <!-- {% endif %} -->

</div>