$black: #19141e;
$gray-1: #2e2835;
$gray-2: #554c57;
$gray-3: #a399a6;
$white: #d3c9d6;

$green: #70d665;
$teal: #5d9b95;

$fill: $black;
$fill2: $gray-1;

$scribe: $white;
$scribe2: $gray-3;

$mute: $gray-2;


$focus: $green;
$focus2: $teal;

$min: 23rem;
$text-width: 40rem;
$font-size: 1.1rem;

$space: 2rem;