


.content
    display: grid
    // position: relative

    grid-template-columns: minmax(0, 1fr) repeat( 1, minmax(auto, 20fr)) minmax(0, 1fr)
    grid-template-rows: 15vh minmax(85vh, auto)
    grid-auto-rows: minmax(10rem, auto)

    &.spacer
        grid-template-rows: 40vh minmax(60vh, auto)


    min-height: 100vh

    & > *
        grid-column: 2 / 3
        
    .hero, footer
        align-self: center



@media screen and ( min-width: 75rem )

    .content
        grid-template-columns: minmax(0, 1fr) repeat( 2, minmax(auto, 2fr)) minmax(0, 1fr)
        
        & > *
            grid-column: 2 / 4