%spacing
    margin-bottom: 1rem


%field
    display: block
    background-color: $fill2
    transition: transform linear 50ms
    transform-origin: 50% 100%
    -webkit-text-fill-color: $scribe2
    -webkit-box-shadow: 0 0 0px 1000px $fill2 inset
    color: $mute
    padding: 0.8em 1.6em
    outline: none
    width: 100%
    
    
    border: $fill2 solid 1px
    
    &:valid
        background-color: $fill2
    
    
    &:defined
        font-weight: normal

        color: $scribe2

    &:focus, &:hover
        transform: scale(1.01)
        color: $scribe
        -webkit-text-fill-color: $scribe
    
    // &::placeholder
    //     -webkit-text-fill-color: $mute
    //     color: $mute

%box
    @extend %field, %spacing
    -moz-appearance: none
    border: $mute solid 1px
    border-right-width: 8px

    &:required
        border-color: $focus2
    
    &:focus, &:hover
        border-color: $focus


%text-field
    @extend %field, %spacing
    
    border-left: $mute solid 8px

    &:required
        border-left-color: $focus2
    
    &:focus, &:hover
        border-left-color: $focus


%check
    transition: transform linear 50ms
    display: inline-block
    outline: none
    $border: 4px
    $size: 1.8em
    width: $size
    height: $size
    -webkit-appearance: none
    border-radius: $size / 4
    background-color: $fill
    border: $mute solid $border
    position: relative
    margin-right: 100%

    &:before
        top: -$border
        left: $size
        white-space: nowrap
        width: auto
        word-wrap: none
        position: absolute
        color: $scribe2
        font-size: 1.1rem
        content: attr(data-label)

    &:checked
        background-color: $focus2
        border-color: $focus2
    
    &:checked:hover, &:checked:focus
        background-color: $focus

    &:hover, &:focus
        border-color: $focus
    &:hover
        transform: scale(1.08)


.from
    .inline
        display: grid
        grid-auto-flow: column
        grid-gap: 1em
    &.grid
        display: grid
        align-self: center
    label
        color: $scribe2

    label.check
        padding-left: 1em
        padding-bottom: 1em
        color: $scribe2

    input[type="email"],
    input[type="password"],
    input[type="month"],
    input[type="tel"],
    input[type="week"],
    input[type="url"],
    input[type="search"],
    input[type="text"], 
    textarea, 
        @extend %text-field


    input[type="checkbox"],
    input[type="radio"]
        @extend %check

    input[type="number"], 
    input[type="select"],
    input[type="date"],
    select
        @extend %box
    

    // input[type="color"],
    // select,
    // input[type="time"],
    // input[type="submit"],
    // input[type="file"],
    // input[type="button"]

    .title
        margin-bottom: 1em
        color: $mute


    textarea
        resize: none
        height: 25vh
