
@import colors
    
$link-hover: -3px

    
%float
    transition: transform 50ms ease-out
    &:hover, &:active, &:focus
        transform: translateY($link-hover)

%underline
    position: relative
    &:after
        position: absolute
        content: " "
        background-color: currentColor
        width: 100%
        height: 2px
        bottom: -0.5rem
        left: 0

a, .link
    @extend %float
    display: inline-block
    outline: none
    color: $focus2
    position: relative
    padding: 0 0.2em

    &:hover, &:active, &:focus
        color: $focus

a.mute, .mute a
    color: $mute
    &:hover, &:active, &:focus
        color: $scribe2

.no-float
    &:hover, &:active, &:focus
        transform: translateY(0)



.link
    text-decoration: none
    
    &.nav-link
        @extend %underline
        font-size: 1.5rem
        &:after
            transition: transform 150ms ease-in
            transform: scaleX(0)

    &.nav-link:hover, &.nav-link:focus 
        color: $focus
        &:after
            transform: scaleX(0.7)


    &.nav-link.current
        &:after
            transform: scaleX(0.2)
        color: $scribe2
        @extend .no-float


    &.btn
        padding: 0.1em 1.5em
        border: currentColor 2px solid
        background-color: #0000

a.link.btn
    padding: 0.1em 1.6em

button.link.btn
    padding: 0.6em 1.6em
