
@import colors
    
$link-hover: -3px

    
%up
    transform: translateY($link-hover)

%float
    transition: transform 50ms ease-out
    transform: translateY(0)
    &:hover, &:active, &:focus
        @extend %up

%underline
    position: relative
    &:after
        position: absolute
        content: " "
        background-color: currentColor
        width: 100%
        height: 2px
        bottom: -0.5rem
        left: 0
// .link.underline

a
    @extend %float
    outline: none
    color: $focus2
    transition: transform 50ms ease-out
    transform: translateY(0)
    &:hover, &:active, &:focus
        color: $focus

.link
    text-decoration: none

.big-link
    @extend %underline
    font-size: 1.5rem
    &:after
        transition: transform 150ms ease-in
        transform: scaleX(0)



.big-link:hover, .big-link:active, .big-link:focus 
    &:after
        transform: scaleX(1)

.current-link
    color: $scribe2
    &:after
        transform: scaleX(0.5)

.social-link
    & >
        transition: transform 50ms ease-out
        transform: translateY(0)
    
    color: $mute
    &:hover, &:active, &:focus
        color: $scribe2
        & >
            // @extend %up
            transform: translateY($link-hover)

