

@import config

@import gorko/gorko



// @import gui
// @import content
// @import resume
@import layout

@import typeography

@import header
// @import footer
@import social

@import lib/links
@import form

@import lib/position
// @import page
// @import hero
// @import services
// @import item
@import lib/bland-fade

\:root
    --link-color-base: #{get-color('teal')}
    --link-color-focus: #{get-color('green')}
    --link-color-current: #{get-color('shade')}


.mx-auto
    margin-left: auto
    margin-right: auto


hr
    border-color: $fill2
    border-style: solid
    border-width: 2px


.relative
    position: relative

.justify-right
    justify-self: right

.justify-left
    justify-self: left

.align-start
    align-self: start

.align-end
    align-self: end

.align-center
    align-self: center

.space-left
    margin-left: $space