

@import config

@import gorko/gorko

@import lib/links
@import lib/form
@import lib/position
@import lib/bland-fade
@import lib/margin

@import layout/layout
@import layout/header
@import layout/social
@import layout/nav

@import typeography

// @import page
// @import hero
// @import services
// @import item
// @import gui
// @import content
// @import resume

\:root
    --link-color-base: #{get-color('teal')}
    --link-color-focus: #{get-color('green')}
    --link-color-current: #{get-color('shade')}
    
    --form-color-base: #{get-color('teal')}
    --form-focus: #{get-color('green')}
    --form-outline: #{$form-outline}
    --form-mute: #{get-color('mute')}
    --form-text: #{get-color('white')}
    --form-bg: #{get-color('shadow')}
    --form-required: #{get-color('teal')}

.link.mute
    --link-color-base: #{get-color('mute')}
    --link-color-focus: #{get-color('shade')}
    --link-color-current: #{get-color('shade')}

.card
    padding: get-size('900')
    border-radius: get-size('400')

hr
    border-color: $fill2
    border-style: solid
    border-width: 2px

// .center
//     margin: auto

.no-break
    white-space: nowrap
    overflow: visable

@include media-query('md')
    .split
        display: grid
        grid-template-columns: minmax( 60%, auto ) minmax( 30% ,auto)
        gap: get-size('900')

        & > *:nth-child(odd)
            grid-column: 1/2
        & > *:nth-child(even)
            grid-column: 2/3
        // &:last-child
        //     width: 40% 