
$rowspace: 4rem
$colspace: 2rem

.resume
    ul, ol
        padding-top: 1rem

    & > h2
        margin-bottom: $rowspace / 2

    .rows
        display: grid
        grid-row-gap: $rowspace
    
    .flex
        display: flex
        justify-content: flex-start
    
    .flex > *
        margin-right: 1.5rem


.resume.skills
    margin-top: 5rem
    margin-left: 0

.resume.summery
    p
        max-width: $text-width
        margin: 2rem 0 1rem 2rem


@media screen and ( min-width: 75rem )
    .resume.skills
        margin-top: 0
        margin-left: $colspace
