
$size: 2rem

.social
    position: relative
    justify-self: end
    width: 100%
    display: grid

    justify-items: center
    justify-content: end
    margin: $size / 2 0
    grid-auto-flow: row
    grid-gap: $size * 2
    grid-auto-rows: auto
    grid-auto-columns: auto

@media screen and ( min-width: 75rem )
    .social
        grid-auto-flow: column
