
$width: 3.5rem

.social
    justify-self: end
    width: 100%

    justify-items: center
    justify-content: end
    margin: $width 0
    display: grid
    grid-auto-flow: start
    grid-gap: $width
    grid-template-columns: repeat( auto-fit, $width )
    grid-template-rows: $width