

body
    line-height: 2.5

h1
    font-size: get-size('900')
h2
    font-size: get-size('700')
h3
    font-size: get-size('600')

h1, 
h2, 
h3, 
h4, 
h5, 
h6
    line-height: 1
    font-weight: normal

    strong
        color: get-color('green')
    em
        color: get-color('gray-light')
        font-style: normal


// ul, ol
//     line-height: 2em

// .mute
//     color: $mute

// .shadow
//     color: $fill2

// p
//     max-width: $text-width


    
