

strong
    font-weight: bold
    color: $scribe

body
    font-size: $font-size
    font-family: 'Fira Sans', sans-serif
    line-height: 2.5em
    color: $scribe

button
    font-size: $font-size

h1
    font-size: 4.8rem
    color: $scribe
h2
    font-size: 2.4rem
h3
    font-size: 1.8rem

h1, h2, h3, h4, h5, h6
    color: $scribe2
    font-weight: normal
    max-width: 30em
    line-height: 1em

    strong
        color: $focus
ul, ol
    line-height: 2em

.mute
    color: $mute

.shadow
    color: $fill2

p
    max-width: $text-width


    
