---
---

$fill: #19141e
$fill2: #2e2835 

$scribe: #d3c9d6
$scribe2: #a399a6

$min: 23rem


body, body *
    // line-height: 2em
    box-sizing: border-box

body
    color: $scribe
    background-color: $fill
    display: grid
    grid-template-columns: 1fr minmax($min, 6fr) 1fr ;
    padding: 0
    margin: 0
    width: 100%

body > *
    grid-column-start: 2

header
    background-color: red
    background-image: linear-gradient(0deg, $fill, $fill2)
    grid-column: 1 / span 3
    display: grid
    grid-auto-flow: column
    grid-column: 1fr minmax($min, auto)
    .name
        grid-column: 1
        grid-row: 2
        margin-left: 3rem


img.logo
    width: 30rem
    margin-bottom: -3rem