<title>{{ page.title }} - {{ site.title }}</title>

<meta 
    name="viewport" 
    content="width=device-width, initial-scale=1"
    >

<meta 
    http-equiv="Content-Type" 
    content="text/html; charset=UTF-8"
    >

<script 
    src="https://kit.fontawesome.com/04e9e6917d.js" 
    crossorigin="anonymous"
    ></script>

<link 
    rel="stylesheet" 
    href="https://code.cdn.mozilla.net/fonts/fira.css"
    >

<link 
    rel="stylesheet" 
    href={{ "assets/css/style.css" | relative_url }}
    >

<link 
    rel="icon" 
    href={{ "assets/img/icon.svg" | relative_url }}
    >
