---
layout: root
anim:  'bf fade-in-left x1'
---



<form
    class="form grid split-left {{ layout.anim }}"
    action="{{ page.sendto }}"
    method="POST"
    >
    
    {% include form/title.html %}

    {% include form/name.html %}

    {% include form/email.html %}

    <div class="group">
        <label
            for="reason"
            >Subject</label>
        <input
            id="reason"
            type="text" 
            name="reason"
            >
    </div>

    {% include form/message.html %}

    <!-- <div>
        <button type="submit" class="link btn">Send</button>
    </div> -->
</form>

<section class="page {{ layout.anim }} split-right">
    {{ content }}
</section>