---
layout: root
sendto: "https://formspree.io/moqkloak"
---



<form
    class="from grid split-left bf fade-in-left x1"
    action="{{ layout.sendto }}"
    method="POST"
    >
    
    <h2 class="title">Contact</h2>

    {% include form-email.html %}

    <div class="group">
        <label
            for="reason"
            >Reason</label>
        <input
            id="reason"
            type="text" 
            name="reason"
            placeholder="Your purpose for contacting me."
            >
    </div>

    {% include form-message.html %}

    <div>
        <button type="submit" class="link btn">Send</button>
    </div>
</form>

<section class="page bf fade-in-left x1 split-right">
    {{ content }}
</section>