---
layout: root
anim:  'bf fade-in-left x1'
---



<form
    class="from grid split-left {{ layout.anim }}"
    action="{{ page.sendto }}"
    method="POST"
    >
    
    <h2 class="title">Contact</h2>

    {% include form-email.html %}

    <div class="group">
        <label
            for="reason"
            >Reason</label>
        <input
            id="reason"
            type="text" 
            name="reason"
            placeholder="Your purpose for contacting me."
            >
    </div>

    {% include form-message.html %}

    <div>
        <button type="submit" class="link btn">Send</button>
    </div>
</form>

<section class="page {{ layout.anim }} split-right">
    {{ content }}
</section>