---
layout: root
anim:  'bf fade-in-left x1'
---



<form
    class="from grid split-left {{ layout.anim }}"
    action="{{ page.sendto }}"
    method="POST"
    >

    {% include form-title.html %}
    
    {% include form-email.html %}
    
    {% include form-details.html %}

    
    <div class="inline">
        {% include form-budget.html %}
        {% include form-timeline.html %}
        {% include form-size.html %}
    </div>

    <div class="group">
        <label
            for="technologies"
            >Required Technologies</label>
        <input
            multiple
            type="text" 
            name="technologies"
            placeholder="ie. Ruby on Rails, Angular, RSpec" 
            id="technologies" 
            class="small"
            >    
    </div>


    {% include form-questions.html %}
    

</form>

<section class="page {{ layout.anim }} split-right space-left">
    {{ content }}
</section>