---
anim:  'bf fade-in-left x1'
---

<!DOCTYPE html>
<html>
<head>
    {% include layout/head.html %}
</head>


<body class="[ bg-black color-light font-base ]">
    
    <div class="[ header ] [ bg-black ]">

        <header>
            {% include layout/header.html %}
        </header>

    </div>

    <div class="[ site-nav ][ sticky top box-flex justify-content-center bg-black ]">
        {% include layout/nav.html %}
    </div>
    
    <main class="content {% if page.hero %}spacer{% endif %}">

        <div></div>


        {{ content }}

    </main>

    <div class="footer">

        <div class="bg">
        </div>

        <aside class="social">
            {% include layout/social.html %}
        </aside>
    </div>
    

</body>
</html>