---
anim:  'bf fade-in-left x1'
---

<!DOCTYPE html>
<html>
<head>
    {% include layout/head.html %}
</head>


<body class="[ bg-black color-light font-base ]">

    
    <div 
        class="[ header ][ wrapper ][ bg-black relative ]">

        <header>
            {% include layout/header.html %}
        </header>

    </div>


    <div 
        class="
            [ site-nav ][ wrapper ]
            [ sticky top bg-black z-i ]"
        >
        {% include layout/nav.html %}
    </div>
    
    <main class="wrapper my-auto">

        <div></div>


        {{ content }}

    </main>

    <div class="[ footer ][ width-full mt-auto ]">

        <div class="wrapper md:box-flex">
            <aside class="[ social ][ ml-auto box-flex bg-black ]">
                {% include layout/social.html %}
            </aside>
        </div>
    </div>
    

</body>
</html>