
$header-max-height: 10vh

body
    padding: 0 !important
    margin: 0 !important
    max-width: 100vw
    overflow-x: hidden

    display: flex
    flex-flow: column

    min-height: calc( 100vh + #{get-size('900') * 2} )
    @include media-query('md')
        min-height: 100vh


.wrapper
    width: calc( 100% - #{get-size('500')} * 2 )
    max-width: 80rem
    margin-left: auto
    margin-right: auto
    padding-left: get-size('400')
    padding-right: get-size('400')
    
.full-bleed

// .full-screen
//     min-height: 100% 

.flex-between
    display: flex
    justify-content: space-between

.align-self-center
    align-self: center

.footer
    padding-top: get-size('900')
    @include media-query('md')
        position: fixed
        bottom: 0