
$size: 2rem

.social
    position: relative
    justify-self: end
    width: 100%
    display: grid

    justify-items: center
    justify-content: end
    margin: $size / 2 0
    grid-gap: $size * 2
    grid-auto-flow: column
